In [3]:
import pandas as pd

In [18]:
df= pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
len(df)

5572

In [21]:
dummies= pd.get_dummies(df.Category)
df1= pd.concat([df,dummies.spam], axis='columns')
df1.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [33]:
df1.drop(['Category'],axis='columns')

                                                Message  spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...     1
5568               Will ü b going to esplanade fr home?     0
5569  Pity, * was in mood for that. So...any other s...     0
5570  The guy did some bitching but I acted like i'd...     0
5571                         Rofl. Its true to its name     0

[5572 rows x 2 columns]

In [36]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(df1.Message,df1.spam,test_size=0.1)

In [61]:
v= CountVectorizer()
coded_text = v.fit_transform(X_train.values)
coded_text.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [62]:
mnb= MultinomialNB()
mnb.fit(coded_text,y_train)

MultinomialNB()

In [69]:
X_test_number= v.transform(X_test)
y_predicted= mnb.predict(X_test_number)
y_predicted[:20]

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
      dtype=uint8)

In [88]:
msg_number= v.transform(('Exciting offer!! Buy this now','hi,Sorry, i will not be able to come today'))
msg_number.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [89]:
msg_predicted= mnb.predict(msg_number)
msg_predicted

array([1, 0], dtype=uint8)

In [91]:
# using Pipeline method
from sklearn.pipeline import Pipeline

In [97]:
clf = Pipeline((
    ('vectorizer',CountVectorizer()),
    ('model',MultinomialNB()))
)

In [98]:
clf.fit(X_train,y_train)
clf.score(X_test, y_test)

0.992831541218638